@import '../vars/_colors.sass'
@import '../vars/_typo.sass'

.home-page

  &__title
    @extend .typo-main-page-header
    margin: 0 0 50px

    @media (max-width: 920px)
      margin: 0 0 20px


  .current-time-wrap
    margin-bottom: 20px

    @media (max-width: 920px)
      margin-bottom: 10px

    .icon-text
      color: $primary-color
