@import '../vars/_colors.sass'
@import '../vars/_typo.sass'
@import '../vars/_mediaQueries.sass'

.footer
  display: flex
  justify-content: space-between
  align-items: center
  padding: 20px
  border-top: 2px solid $border-color

  @include breakpoint(small)
    flex-direction: column

    .footer-media
      margin-top: 10px

  .footer-copyright
    font-weight: 400

  .footer-media
    display: flex

    &__link
      margin-right: 20px
      color: $primary-color

      &:last-child
        margin-right: 0

      &:hover
        transform: scale(1.2)
